<h1>Listing business_infos</h1>

<table>
  <tr>
    <th>About</th>
    <th>Contact</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @business_infos.each do |business_info| %>
  <tr>
    <td><%= business_info.about %></td>
    <td><%= business_info.contact %></td>
    <td><%= link_to 'Show', business_info %></td>
    <td><%= link_to 'Edit', edit_business_info_path(business_info) %></td>
    <td><%= link_to 'Destroy', business_info, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Business info', new_business_info_path %>
