<div class="content">
  <div id="header">
    <%= link_to image_tag('logo.png'), products_path %>
      <div id="signin">
        <a href="#">Administrative Login</a>
        <br /><br />
      </div>
      <div id="search">
        <%= form_tag results_path do %>
            <%= label_tag "Search for a product: " %>
            <%= text_field_tag(:keywords) %>
            <%= submit_tag "Search" %>
        <% end %>
        <br />
      </div>
    </div>
    <div id="nav">
      <a href="#">Search By Category</a>&nbsp;&nbsp;|&nbsp;&nbsp;
      <%= link_to 'Home', products_path %>&nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="#">About Us</a>
    </div>
  </div>
  <%= render @products %>
  <br />
  <%= link_to 'New Product', new_product_path %>
</div>